.Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 4px;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  width: 300px;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(173, 173, 173);
  text-align: center;
}

.TrackTitleText {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: -12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ArtistText {
  font-size: large;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SelectBtn {
  width: 100%;
}
