.TrackList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 1em;
}

.ListContainer {
  text-align: start;
}

.Heading {
  color: white !important;
  padding-left: 1em;
}

@media screen and (max-width: 600px) {
  .TrackList {
    justify-content: center;
    margin-left: 0;
  }
}
