.TrackList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ListContainer {
  text-align: start;
}

.Heading {
  color: white !important;
  padding-left: 1em;
}
