.PlaylistContainer {
  margin-left: 300px;
  height: 100vh;
  background-color: #000a1a !important;
  text-align: start;
}

.PlaylistContainer h1 {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  text-align: start;
  font-size: x-large;
  font-weight: 700;
}

@media screen and (max-width: 425px) {
  .PlaylistContainer {
    margin-left: 0;
  }
}
