.SearchResult {
  margin-top: 100px;
  text-align: start;
  padding: 1em;
}

.NoDataPlaceholder {
  color: grey;
  text-align: center;
}

.ClearHistoryButton {
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
