.SearchResult {
  text-align: start;
}

.NoDataPlaceholder {
  color: grey;
  text-align: center;
}

header {
  padding: 0 !important;
}

.MainContent {
  background-color: #000a1a !important;
  margin-left: 300px;
}

.MainContent h1 {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1.5em;
  text-align: start;
  font-size: x-large;
  font-weight: 700;
}

aside {
  padding-top: 1em;
}

.TrackContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 1em;
}

.SubHeading {
  margin-bottom: 0.5em !important;
  font-weight: 600 !important;
  color: rgb(194, 194, 194);
}

@media screen and (max-width: 600px) {
  .MainContent {
    margin-left: 0;
  }

  .TrackContent {
    margin-left: 0;
  }
}
