.PlaylistForm {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.CreateButton {
  font-weight: 600;
  height: 40px;
  width: 200px;
  margin-top: 1em;
}

.PlaylistForm input {
  margin-right: 1em !important;
  margin-top: 1em !important;
  width: 500px !important;
}

@media screen and (max-width: 768px) {
  .CreateButton {
    width: 100%;
  }

  .PlaylistForm input {
    margin-right: 0 !important;
  }
}
