.PlaylistForm {
  text-align: center;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 25%;
  margin-right: 25%;
}

.InputForm {
  height: 30px;
  border-radius: 10px;
  outline: none;
  padding-left: 1em;
  border: 1px solid grey;
}

.InputForm[type="text"]:focus {
  border-radius: 10px;
  border: 1px solid orangered;
}

.CreateButton {
  grid-column: 1/3;
  background-color: orangered;
  height: 30px;
  border: none;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  font-weight: 600;
}

.CreateButton:hover {
  background-color: rgb(231, 62, 0);
}

.CreateButton:active {
  background-color: rgb(212, 57, 0);
}
