.PlaylistForm {
  text-align: center;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3em;
}

.CreateButton {
  grid-column: 1/3;
  font-weight: 600;
}
