.Form {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.SearchInput {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin-left: 1em;
  outline: none;
  border: 1px solid grey;
  text-align: center;
}

.SearchInput[type="text"]:focus {
  border-radius: 10px;
  border: 1px solid orangered;
}

::placeholder {
  font-style: italic;
}
