.Navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0px 5px 10px rgb(231, 231, 231);
  position: fixed;
  top: 0;
  width: 100vw;
}

.PlaylistButton {
  margin-right: 1em;
  color: orangered;
  border: none;
  background-color: transparent;
  font-weight: 800;
  font-size: large;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
}

.PlaylistButton:hover {
  background-color: rgb(255, 240, 234);
}

.PlaylistButton:active {
  background-color: rgb(255, 204, 185);
}

.ActiveButton {
  margin-right: 1em;
  color: white;
  border: none;
  background-color: orangered;
  font-weight: 800;
  font-size: large;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
}

.ActiveButton:hover {
  background-color: rgb(231, 62, 0);
}

.ActiveButton:active {
  background-color: rgb(212, 57, 0);
}

.ProfileImage {
  width: 75px;
  margin-right: 2.5em;
  border-radius: 20px;
}

.LeftSideNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.DropdownContent {
  display: none;
  position: absolute;
  padding: 0.5em;
  right: 45px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropdownContent .LogOutButton {
  background-color: red !important;
  border: none;
  font-weight: 700;
  padding: 0.5em;
  border-radius: 4px;
  color: black;
  width: 100px;
  text-decoration: none;
  display: block;
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.DropdownContent:hover .LogOutButton {
  background-color: rgb(190, 0, 0) !important;
}
