.Navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0px 2px 3px rgb(12, 12, 12);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: #00080f;
  height: 70px;
}

.PlaylistButton {
  margin-right: 1.5em;
  background-color: rgb(20, 20, 20);
  color: white;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 40px;
}

.LoginButton {
  background-color: rgb(20, 20, 20);
  color: white;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 40px;
}

.ActiveButton {
  margin-right: 1.5em;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  border-radius: 40px;
  color: white;
  background-color: #1890ff;
  height: 32px;
  transition: 0.5s ease-out;
  line-height: normal !important;
}

.ActiveButton:hover {
  background-color: #0075e2;
  color: white;
  transition: 0.5s ease-out;
}

.ActiveButton:active {
  background-color: #005bb1;
  color: white;
  transition: 0.5s ease-out;
}

.ProfileImage {
  width: 50px;
  border-radius: 25px;
}

.RightSideNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LeftSideNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LeftSideNav h1 {
  margin-bottom: 0.1em;
  margin-right: 1em;
  font-size: x-large;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .ActiveButton {
    display: none;
  }

  .PlaylistButton {
    display: none;
  }
}
