.Container {
  text-align: start;
}

.SearchResult {
  text-align: start;
}

.NoDataPlaceholder {
  color: grey;
  text-align: center;
}

.MainContent {
  background-color: #000a1a !important;
  margin-left: 300px;
}

.MainContent h1 {
  margin-top: 1em;
  margin-left: 0.8em;
  text-align: start;
  font-size: x-large;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .MainContent {
    margin-left: 0;
  }
}
