.Container {
  text-align: start;
}

.SearchResult {
  text-align: start;
}

.NoDataPlaceholder {
  color: grey;
  text-align: center;
}

.MainContent {
  background-color: #000a1a !important;
  margin-left: 300px;
}

.MainContent h1 {
  margin-top: 1em;
  margin-left: 1em;
  text-align: start;
  font-size: x-large;
  font-weight: 700;
}

.FloatCard {
  position: fixed;
  bottom: 18px;
  right: 10px;
  margin-right: 1em;
  padding-left: 2em;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 5px 10px rgb(44, 44, 44);
  z-index: 10;
}

.FloatCard p {
  padding-top: 1em;
  padding-right: 2em;
  font-weight: 500;
}

.StripAccent {
  width: 25px;
  height: 50px;
  border-end-end-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #1890ff;
}

@media screen and (max-width: 600px) {
  .MainContent {
    margin-left: 0;
  }
}
